#inputGroupFileAddon04 {
    margin-top: 20px;
    padding: 20px 55px;
}

.alert-success {
    margin-top: 20px;
  }

#designers-card {
    display: inline-block;
}

#designer {
    margin-top: 70px;
}

