#Document_1 {
    border: 0;
    background-color: transparent;
}

#Document_2 {
    border: 0;
    background-color: transparent;
}

#Document_3 {
    border: 0;
    background-color: transparent;
}

#Document_4 {
    border: 0;
    background-color: transparent;
}